/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
 
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Aqui empieza el proyecto
../img/Placeholder.jpg
*/

:root {
  --color-black: #313131;
  --color-grey: #909090;
  --color-white: #FFFFFF;
  --color-gold: #9B9A78;
  --font-primary: "Poppins", sans-serif;
  --font-secundary: "Playfair Display", serif;
  --max-width: 1400px
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
  padding: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

header nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 56px;
  font-size: 18px;
}

header nav ul a {
  text-decoration: none;
  color: var(--color-black);
}

header nav ul a.home {
  color: var(--color-gold);
}

header aside ul {
  font-size: 18px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 56px;
  align-items: center;
}

header aside ul li a{
  text-decoration: none;
 color: var(--color-black);
}


header aside ul li a.link{
  text-decoration: underline;
  color: var(--color-gold);
}

header aside ul li a.button{
  color: var(--color-white);
  padding: 8px;
  background-color: var(--color-gold);
}

section.hero {
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/Placeholder-1.jpg);
  background-size: 60%;
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 10px;
}

.hero_header {
  background: rgba(255, 255, 255, 0.70);
  backdrop-filter: blur(8px);
  padding: 20px;
}

.hero_content{
  width: 50%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.hero_header h1 {
  font-family: var(--font-secundary);
  color: var(--color-black);
  margin: 0;
  font-size: 56px;
  line-height: 60px;
  max-width: 500px;
  position: relative;
}

.hero h1::before {
  content: '';
  height: 8px;
  width: 72px;
  position: absolute;
  background-color: var(--color-gold);
  right: -60px;
  top: 25px;

}
.hero_header p {
  font-size: 24px;
  color: var(--color-gold);
  font-weight: normal;
}

.hero_list ul{
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 60%;
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px;
}

.hero_list ul li {
  background-image: url('../img/Check.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  padding-left: 30px;
}

.articles {
  display: flex;
  justify-content: space-between;
}

.articles article{
  padding: 32px;
}

.articles article h3{
  color: var(--color-black);
  font-size: 24px;
  margin: 8px;
}

.articles article p{
  color: var(--color-gold);
  font-size: 18px;
  margin: 8px;
}





